@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #eee;
}

body {
  background-color: #171717;
  padding: 30px;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #eee;
  display: block;
  margin: 30px 0;
  width: 300px;
  font-size: 18px;
  padding: 0 10px;
}

input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: 3px solid #eee;
  font-weight: 700;
  padding: 5px 20px;
  transition: all 0.5s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #171717;
  background-color: #eee;
  transition: all 0.5s ease-in-out;
}

table {
  width: fit-content;
  margin: 0;
  border: 1px solid #eee;
  margin-top: 15px;
}

td {
  border: 1px solid #eee;
  padding: 10px;
}